<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Dashboard</title>
    <link rel="stylesheet" href="../style/dashboard.css">
  
  </head>
  <body>
    <h1>Employee Dashboard</h1>
    <div id="actionButtons">
        <button onclick="openAddEmployeeModal()">Add Employee</button>
        <button onclick="sortEmployeesBySalary()">Sort by Salary</button>
        <select id="departmentFilter">
            <option value="">Filter by Department</option>
            <option value="Tech">Tech</option>
            <option value="Marketing">Marketing</option>
            <option value="Operations">Operations</option>
        </select>
        <input type="text" id="searchInput" placeholder="Search by First Name">
        <button onclick="searchEmployees()">Search</button>
        <button onclick="logout()">logout</button>
    </div>
    <table id="employeeTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Department</th>
          <th>joining date</th>
          <th>Salary</th>
          <th>Action</th>
          
        </tr>
      </thead>
      <tbody id="employeeTableBody"></tbody>
    </table>
    <div id="paginationButtons">
     
    </div>
    <div id="addEmployeeModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeAddEmployeeModal()">&times;</span>
            <h2>Add Employee</h2>
            <form id="addEmployeeForm">
                <input type="text" id="firstName" placeholder="First Name" required>
                <input type="text" id="lastName" placeholder="Last Name" required>
                <input type="email" id="email" placeholder="Email" required>
                <select id="department">
                    <option value="Tech">Tech</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Operations">Operations</option>
                </select>
                <input type="text" id="salary" placeholder="Salary" required>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
    <script src="../script/dashboard.js"></script>
  </body>
</html>
